# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Logs
*.log

# Temporary files
*.swp
*.swo

# Environment files
.env

# Assets
assets

# Python virtual environment
.venv
__pycache__

# Roku Media-Assistant
media_assist.py